*{
    user-select: none;
    outline: none;
}


#container{
    position: relative;
    display: grid;
    grid-template-areas: "header header"
                        "canvas panel";
    width: 1100px;
    height: 650px;
    border-radius: 0.5rem;
    border: #999 solid 1px;
}

#header{
    display: flex;
    grid-area: header;
    height: 50px;
    
    background-color: #333;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 1px solid #999;
}

#header > h1{
    color: white;
}

#level{
    position: absolute;
    left: 50px;
    top: -12px;
}

#lives{
    position: absolute;
    left: 300px;
    top: -12px;
}

#money{
    position: absolute;
    left: 550px;
    top: -12px;
}

#panel{
    width: 300px;
    grid-area: panel;
    background-color: #777;
    border-bottom-right-radius: 0.5rem;
    border-left: 1px solid #999;
}

#canvas-group{
    width: 800px;
    height: 600px;
    grid-area: canvas;
}

#canvas{
    width: inherit;
    height: inherit;
    position: absolute;
    border-bottom-left-radius: 0.5rem;
}
#extra-canvas{
    width: inherit;
    height: inherit;
    position: absolute;
    pointer-events: none;
    border-bottom-left-radius: 0.5rem;
}

#panel label, #panel input{
    background-color: #aaa;
    padding-left: 10px;
    border-radius: 15px;
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

#panel label {
    margin-left: 18%;
    width: 88%;
}

#panel input{
    width: 15%;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 10px;
    transform: scale(1.5);
}

#startButton{
    background-color:rgb(78, 78, 78);
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px black;
    color: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    border-radius: 5px;
}

#startButton:hover{
    background-color:rgb(146, 146, 146);
}

#towerInfo{
    position: relative;
    margin-bottom: 25px;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}

#towerInfo h3{
    display: flex;
    justify-content:space-around;
    margin: 2px;
    background-color: #aaa;
}

#twobuttons{
    width: 100%;
    margin-top: 10px;
    display: flex;
}

#upgradeTower{
    background-color:cornflowerblue;
    border: solid 1px blue;
    color: white;
    height: 50px;
    width: 50%;
    border-radius: 5px;
}


#upgradeTower:hover{
    background-color:rgb(150, 187, 255);
}

#sellTower{
    background-color: crimson;
    border: solid 1px darkred;
    color: white;
    height: 50px;
    width: 50%;
    border-radius: 5px;   
}

#sellTower:hover{
    background-color: rgb(255, 85, 119);
}

#buyTower{
    background-color: greenyellow;
    margin: 2px;
    border: solid 1px green;
    color: black;
    height: 50px;
    border-radius: 5px;
}

#towerButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;

}

#towerButtons button{
    width: 50px;
    height: 50px;
    background-color: white;
    
}

#towerButtons button:hover{
    background-color: #aaa;
}


.disabledButton{
    background-color: #777 !important;
    border: solid 1px #666 !important;
    color:rgb(146, 146, 146) !important; 
}

.disabledButton:hover{
    background-color: #777 !important;
    border: solid 1px #666 !important;
    color:rgb(146, 146, 146) !important; 
}

