*{
    user-select: none;
    outline: none;
    font-family: 'Coda', cursive;
}

body{
    background-color: #111;
    overflow: hidden;
}

#bgImage{
    width: 100%;
    height: 100%;
    position: fixed;
    
    display: block;
    top: 0;
    left: 0;
    user-select: none;
    background-image: Url("./Images/background.jpg");
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.notShown{
    visibility: hidden;
    pointer-events: none;
}

.shown{
    visibility: visible;
    pointer-events: initial;
}

#mainMenu{
    position: fixed;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 1100px;
    height: 650px;
    left: 50%;
    top: 50%;
    border-radius: 0.5rem;
    border: #999 solid 2px;
    transform: translate(-50%, -50%) scale(1.25);
    z-index: 99999;
    background-color: #333;
    opacity: 0.8;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px 1px black;
}

#mainMenuPlayButton{
    width: 175px;
    height: 75px;
    opacity: 0.8;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 0px 0px 1px 1px white;
    animation: pulsate 1s infinite;
}

#mainMenuPlayButton:hover{
    border: solid 2px white;
    animation: none;
    opacity: 1;
    box-shadow: 0px 0px 5px 1px white;
}

@keyframes pulsate {
    50%{
        opacity: 1;
        border: 1px solid white;
        box-shadow: 0px 0px 5px 1px white;
    }
}

#container{
    position: fixed;
    display: grid;
    grid-template-areas:"header header"
                        "canvas panel";
    width: 1100px;
    height: 650px;
    left: 50%;
    top: 50%;
    border-radius: 0.5rem;
    border: #999 solid 2px;
    transform: translate(-50%, -50%) scale(1.25);
    box-shadow: 0px 0px 5px 1px black;
}

#levelSelectDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: fixed;
    background-color: #333;
    width: 850px;
    height: 650px;
    left: 50%;
    top: 50%;
    border-radius: 0.5rem;
    border: #999 solid 2px;
    transform: translate(-50%, -50%) scale(1.25);
    box-shadow: 0px 0px 5px 1px black;
}

#levelSelectH1{
    top: -65px;
    left: 300px;
    letter-spacing: 0.5rem;
    position: fixed;
    color: white;
}

#levelSelectDiv > div > img{
    pointer-events: none;
}

.roadImg{
    align-self: center;
    justify-self: center;
    width: 400px;
    height: 300px;
    background-color: #ddd;
    border: 5px #333 ridge;
}

.roadImg:hover{
    box-shadow: 0px 0px 10px 1px white;
    border: solid 2px white;
    cursor: pointer;
    animation: pulsate 1s infinite;
}

#cache-warning{
    color: rgb(255, 166, 166);
    position: absolute;
    top: -70px;
    left: 275px;
}

#devModeAlert{
    position: absolute;
    color: rgba(255, 0, 0, 0.823);
    top: 35px;
    left: 15px;
    z-index: 99999;
    user-select: none;
    pointer-events: none;
}

#header{
    display: flex;
    justify-content: space-between;
    grid-area: header;
    height: 50px;
    width: 100%;
    background-color: #333;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 1px solid #999;
}

#h1Group{
    color: white;
}

#levelInfo{
    position: relative;
    background: #aaa;
    left: 15px;
    width: 300px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
}

#levelInfo > span{
    position: absolute;
    font-style: italic;
    left: 225px;
    top: 1px;
}

#levelInfo > span:last-child{
    top: 18px;
}

#enemyHealth{
    position: absolute;
    font-weight: 400;
    margin: 0;
    top: 0px;
    left: 150px;
    pointer-events: none;
}

#enemyReward{
    position: absolute;
    font-weight: 400;
    margin: 0;
    top: 17px;
    left: 150px;
    pointer-events: none;
}

#level{
    position: absolute;
    top: -22px;
    left: 15px;
    pointer-events: none;
}

#masteriesOpenButton{
    position: absolute;
    left: 325px;
    top: 5px;
    font-size: 2rem;
    line-height: 8px;
    font-weight: 800;
    color: green;
    background: #999;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #111;
}

#masteriesOpenButton:hover{
    animation: none;
    color: limegreen;
    border: 1px solid rgb(195, 247, 117);
}

.masteriesAvailable{
    animation: pulsateGreen 2s infinite;
}

@keyframes pulsateGreen{

    0% {
        color: green;
        border: 1px solid #111;
    }
    50%{
        color: limegreen;
        border: 1px solid rgb(195, 247, 117);
        box-shadow: 0 0 5px 1px limegreen;
    }
    100% {
        color: green;
        border: 1px solid #111;
    }
}

#lives{
    position: absolute;
    left: 380px;
    top: -17px;
    font-size: 1.9rem;
}

#money{
    position: absolute;
    left: 515px;
    top: -17px;
    font-size: 1.9rem;
}

#debugSpeedMenu{
    position: fixed;
    display: flex;
    background-color: #555;
    width: 200px;
    height: 40px;
    padding: 0;
    border-radius: 5px;
    top: 5px;
    right: 200px;
}

#debug-speed-minus {
    border-radius: 5px;
    outline: none;
    border: 1 solid #333;
    line-height: 15px;
    width: 50px;
    height: 100%;
    font-size: 2rem;
}

#debug-play-pause{
    border-radius: 5px;
    outline: none;
    border: 1 solid #333;
    line-height: 15px;
    min-width: 100px;
    width: 100px;
    height: 100%;
    font-size: 1.25rem;
}

#debug-speed-plus{
    border-radius: 5px;
    outline: none;
    border: 1 solid #333;
    line-height: 15px;
    width: 50px;
    height: 100%;
    font-size: 2rem;
}

#debug-speed-reset{
    border-radius: 5px;
    outline: none;
    border: 1 solid #333;
    width: 100px;
    font-size: 1.5rem;
}

#debug-speed-minus:hover, #debug-play-pause:hover, #debug-speed-plus:hover, #debug-speed-reset:hover{
    background-color: #aaa;
}

#gameSpeed{
    border-radius: 5px;
    outline: none;
    border: 1 solid #333;
    background-color: #999;
    width: 100px;
    height: 32px;
    padding: 4px 5px 0 5px;
    margin: 2px 0 0 0;
    font-size: 1.25rem;
}

#debugMenu > button:hover{
    background-color: #999;
    cursor: pointer;
}

#help{
    font-size: 2rem;
    background-color: #666;
    color: white;
    margin: 3px;
    width: 75px;
    height: 88%;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#help:hover{
    background-color: #888;
}

#helpContainer{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 750px;
    left: 50%;
    top: 50%;
    border-radius: 0.5rem;
    border: #111 solid 3px;
    background-color: #333;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#helpHeader{
    color: white;
    background-color: #555;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#helpHeader h2{
    margin-left: 10px;
}

#helpHeader h1{
    margin-left: auto;
}

#helpSection{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#helpSection div{
    background-color: #999;
    width: 100%;
    height: 95%;
}

#helpSection div img {
    width: 100%;
    margin-bottom: 8px;
}
#helpSection button {
    height: 75px;
    width: 50px;
    margin: 5px;
    font-size: 1.5rem;
    outline: none;
}

#helpSection button:hover{
    background-color:rgb(146, 146, 146);
}

#helpSection button:first-of-type{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#helpSection button:last-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#helpCloseButton{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    background-color: crimson;
    color: white;
    margin-left: auto;
}

#helpCloseButton:hover{
    background-color: rgb(238, 66, 100);
}

#helpPagination{
    margin: 10px auto;
    padding: 0px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: #777;
}

#endingContainer{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    left: 50%;
    top: 50%;
    background-color: #333;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0 0 250px 250px black;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 2rem;
    border-radius: 0.5rem;
    border: #999 ridge 5px;
}

#youLostText{
    padding: 50px 0;
}

#playAgainButton{
    margin: 50px 0;
    align-self: center;
    height: 75px;
    width: 25%;
    opacity: 0.8;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 0px 0px 1px 1px white;
    animation: pulsate 1s infinite;
}

#playAgainButton:hover{
    border: solid 2px white;
    animation: none;
    opacity: 1;
    box-shadow: 0px 0px 5px 1px white;
}

#panel{
    width: 300px;
    grid-area: panel;
    background-color: #777;
    border-bottom-right-radius: 0.5rem;
    border-left: 1px solid #999;
}

#canvas-group{
    width: 800px;
    height: 600px;
    grid-area: canvas;
}

#canvas{
    width: inherit;
    height: inherit;
    position: absolute;
    border-bottom-left-radius: 0.5rem;
}

#fadeToBlack{
    position: absolute;
    user-select: none;
    pointer-events: none;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.9;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

#extra-canvas{
    width: inherit;
    height: inherit;
    position: absolute;
    pointer-events: none;
    border-bottom-left-radius: 0.5rem;
}
#infoCanvas{
    pointer-events: none;
    width: 295px;
    height: 200px;
    border-radius: 5px;
}

#panel label, #panel input{
    background-color: #aaa;
    padding: 5px;
    padding-left: 5px;
    border-radius: 15px;
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

#panel label {
    position: relative;
    margin-left: 5%;
    width: 95%;
}

#panel input{
    width: 10%;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 20px;
    transform: scale(1.75);
    
}

#startButton{
    background-color:rgb(78, 78, 78);
    width: 75%;
    margin-left: 13%;
    margin-top: 15px;
    margin-bottom: 10px;
    border: solid 1px black;
    color: rgb(255, 255, 255);
    height: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
}

#startButton:hover{
    background-color:rgb(146, 146, 146);
}

#towerInfo{
    position: relative;
    margin-bottom: 25px;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#twobuttons{
    width: 100%;
    margin-top: 10px;
    display: flex;
}

#upgradeTower{
    background-color:cornflowerblue;
    border: solid 1px blue;
    color: white;
    height: 50px;
    width: 50%;
    border-radius: 5px;
    font-size: 1.25rem;
}


#upgradeTower:hover{
    background-color:rgb(150, 187, 255);
}

#sellTower{
    background-color: crimson;
    border: solid 1px darkred;
    color: white;
    height: 50px;
    width: 50%;
    border-radius: 5px; 
    font-size: 1.25rem;  
}

#sellTower:hover{
    background-color: rgb(255, 85, 119);
}

#towerButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 240px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: black;

}

#towerButtons button{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-repeat:no-repeat;
    background-size: contain;
    background-color: #555;
}

#towerButtons button:hover{
    background-color: #aaa;
}


.disabledButton{
    background-color: #777 !important;
    border: solid 1px #666 !important;
    color:rgb(146, 146, 146) !important; 
}

.disabledButton:hover{
    background-color: #777 !important;
    border: solid 1px #666 !important;
    color:rgb(146, 146, 146) !important; 
}

.pulses{
    animation: pulse 0.5s ease-in-out infinite alternate
}

@keyframes pulse{

    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

#masteriesContainer{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 500px;
    left: 50%;
    top: 50%;
    background-color: #333;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 0.5rem;
    border: #999 ridge 5px;
    box-shadow: 0 0 100px 200px rgba(0, 0, 0, 0.66);
}

#masteriesHeader{
    display: flex;
    color: white;
    background-color: #555;
    height: 40px;
    padding: 5px;
    font-size: 1.75rem;
    text-align: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#unusedPoints{
    color: #ddd;
    width: 80%;
}

#masteriesCloseButton{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    background-color: crimson;
    color: white;
    margin-left: auto;
}

#masteriesCloseButton:hover{
    background-color: rgb(238, 66, 100);
}

.masteryRank{
    width: auto;
    background-color: #555;
    margin: 15px;
    padding: 0 10px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: flex-start;
}

.mastery{
    margin: 5px;
    background-color: #999;
    border: 2px solid #333;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-areas: "img name" "img desc";
    grid-template-columns: min-content auto;
    cursor: pointer;
}

.mastery:hover{
    background-color: #ddd;
    border: 2px solid #aaa;
}

.masteryImg{
    grid-area: img;
    width: 100px;
    background-color: #555;
    user-select: none;
    pointer-events: none;
}
.masteryName{
    box-sizing: border-box;
    color: white;
    padding-left: 5px;
    grid-area: name;
    height: 25px;
    background-color: #555;
    border: 1px solid black;
    user-select: none;
    pointer-events: none;
}
.masteryDesc{
    box-sizing: border-box;
    color: white;
    padding: 5px;
    grid-area: desc;
    height: 75px;
    background-color: #777;
    border: 1px solid black;
    user-select: none;
    pointer-events: none;
}

.mastery-disabled{
    filter: brightness(0.25);
    user-select: none;
    pointer-events: none;
}

.elemWithTooltip:hover #tooltipDiv{
    animation: tooltipAppear 2s 1;
    opacity: 1;
}

@keyframes tooltipAppear {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

#tooltipDiv{
    position:absolute;
    top: 0;
    left: 0;
    padding: 5px;
    width: fit-content;
    background-color: rgba(50,50,50,0.9);
    border: 3px ridge gold;
    color: white;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.1s;
    transition-delay: 1s;
}



  